Invalid Laravel apps configuration: site names in `cake_apps` must have matching entry in `vault_cake_apps`.

Sites without a matching vault entry:
{% for name in cake_apps.keys() | difference(vault_cake_apps.keys()) %}
* `{{ name }}`
{% endfor %}

Update `group_vars/{{ env }}/vault.yml` to continue.